body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
}
main {
  padding: 20px;
}
